In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from sklearn.compose import make_column_selector

In [2]:
ratings = pd.read_csv('https://datasets.imdbws.com/title.ratings.tsv.gz')

In [3]:
basics = pd.read_csv('https://datasets.imdbws.com/title.basics.tsv.gz', sep='\t', low_memory=False)

In [4]:
akas = pd.read_csv('https://datasets.imdbws.com/title.akas.tsv.gz', sep='\t', low_memory=False)

In [5]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1365868 entries, 0 to 1365867
Data columns (total 1 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   tconst	averageRating	numVotes  1365868 non-null  object
dtypes: object(1)
memory usage: 10.4+ MB

In [6]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10283018 entries, 0 to 10283017
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 706.1+ MB

In [7]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37653553 entries, 0 to 37653552
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.2+ GB

In [8]:
#BASIC
basics.replace({'\\N':np.nan}, inplace =True)

In [9]:
basics.dropna(subset=['runtimeMinutes'], inplace = True)

In [10]:
basics.dropna(subset=['genres'], inplace = True)

In [11]:
cat_cols = make_column_selector(dtype_include='object')(basics)
for col in cat_cols:
  print(f'Value Counts for {col}')
  print(basics[col].value_counts(normalize=True))
  print('\n')

Value Counts for tconst
tt0000001     3.314077e-07
tt29083733    3.314077e-07
tt29083722    3.314077e-07
tt29083723    3.314077e-07
tt29083724    3.314077e-07
                  ...
tt13514774    3.314077e-07
tt13514776    3.314077e-07
tt13514778    3.314077e-07
tt13514780    3.314077e-07
tt9916880     3.314077e-07
Name: tconst, Length: 3017431, dtype: float64


Value Counts for titleType
tvEpisode       0.526439
short           0.205046
movie           0.129811
video           0.061685
tvMovie         0.030828
tvSeries        0.030709
tvSpecial       0.006450
tvMiniSeries    0.006016
tvShort         0.002905
videoGame       0.000113
Name: titleType, dtype: float64


Value Counts for primaryTitle
Episode #1.1                   2.764604e-03
Episode #1.2                   2.548858e-03
Episode #1.3                   2.330791e-03
Episode #1.4                   2.142883e-03
Episode #1.5                   1.931114e-03
                                   ...
Thomas Bursts on the Scene!    3.314079e-07
Night Film                     3.314079e-07
Apodimia                       3.314079e-07
The Truth of Bancholeomon      3.314079e-07
Horrid Henry Knows It All      3.314079e-07
Name: primaryTitle, Length: 1876214, dtype: float64


Value Counts for originalTitle
Episode #1.1                         2.764604e-03
Episode #1.2                         2.548858e-03
Episode #1.3                         2.330791e-03
Episode #1.4                         2.142883e-03
Episode #1.5                         1.931114e-03
                                         ...
Dai ni budô dono no shitô no maki    3.314079e-07
Inide the NHL Bubble                 3.314079e-07
Der kleine Held vom Hamsterfeld      3.314079e-07
Animation Express 2                  3.314079e-07
Horrid Henry Knows It All            3.314079e-07
Name: originalTitle, Length: 1895860, dtype: float64


Value Counts for isAdult
0    0.960067
1    0.039933
Name: isAdult, dtype: float64


Value Counts for startYear
2017    4.847290e-02
2018    4.793830e-02
2016    4.618802e-02
2019    4.454070e-02
2015    4.423288e-02
            ...
1889    7.076129e-07
2028    3.538065e-07
1874    3.538065e-07
1883    3.538065e-07
1885    3.538065e-07
Name: startYear, Length: 150, dtype: float64


Value Counts for endYear
2018    0.046953
2017    0.046915
2020    0.045668
2019    0.045631
2021    0.042343
          ...
1944    0.000019
2028    0.000019
1941    0.000019
1938    0.000019
1945    0.000019
Name: endYear, Length: 91, dtype: float64


Value Counts for runtimeMinutes
30      8.326023e-02
60      6.200672e-02
22      5.426106e-02
15      2.811962e-02
44      2.518997e-02
            ...
1873    3.314077e-07
701     3.314077e-07
493     3.314077e-07
457     3.314077e-07
2088    3.314077e-07
Name: runtimeMinutes, Length: 911, dtype: float64


Value Counts for genres
Drama                      8.596286e-02
Drama,Romance              6.549313e-02
Documentary                6.068374e-02
Comedy                     5.163399e-02
Drama,Short                3.957638e-02
                               ...
Drama,Game-Show,Short      3.314077e-07
Talk-Show,War              3.314077e-07
Action,Game-Show,News      3.314077e-07
Biography,Music,Sport      3.314077e-07
Drama,Horror,Reality-TV    3.314077e-07
Name: genres, Length: 2222, dtype: float64

In [12]:
basics=basics.query("titleType == 'movie'")

In [13]:
basics = basics.drop(basics[basics['startYear'] < '2000'].index)

In [14]:
basics = basics.drop(basics[basics['startYear'] > '2021'].index)

In [15]:
basics = basics.drop(basics[basics['genres'] == 'Documentary'].index)

In [16]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34800,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61111,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020,NaN,70,Drama
67485,tt0068865,movie,Lives of Performers,Lives of Performers,0,2016,NaN,90,Drama
67663,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
80548,tt0082328,movie,Embodiment of Evil,Encarnação do Demônio,0,2008,NaN,94,Horror

In [17]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [18]:
#AKAS
akas.replace({'\\N':np.nan}, inplace =True)

In [19]:
akas=akas.query("region == 'US'")

In [20]:
akas.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
5,tt0000001,6,Carmencita,US,NaN,imdbDisplay,NaN,0
14,tt0000002,7,The Clown and His Dogs,US,NaN,NaN,literal English title,0
33,tt0000005,10,Blacksmith Scene,US,NaN,imdbDisplay,NaN,0
36,tt0000005,1,Blacksmithing Scene,US,NaN,alternative,NaN,0
41,tt0000005,6,Blacksmith Scene #1,US,NaN,alternative,NaN,0

In [21]:
ratings.head()

  tconst\taverageRating\tnumVotes
0            tt0000001\t5.7\t2004
1             tt0000002\t5.8\t269
2            tt0000003\t6.5\t1902
3             tt0000004\t5.5\t178
4            tt0000005\t6.2\t2685

In [22]:
#Ratings
ratings.replace({'\\N':np.nan}, inplace =True)

In [23]:
# Filter one dataframe based on another
keepers = basics['tconst'].isin(akas['titleId'])
keepers

34800        True
61111        True
67485        True
67663        True
80548        True
            ...
10282700     True
10282739    False
10282784     True
10282868    False
10282958    False
Name: tconst, Length: 166980, dtype: bool

In [24]:
basics = basics[keepers]

In [25]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97694 entries, 34800 to 10282784
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          97694 non-null  object
 1   titleType       97694 non-null  object
 2   primaryTitle    97694 non-null  object
 3   originalTitle   97694 non-null  object
 4   isAdult         97694 non-null  object
 5   startYear       94657 non-null  object
 6   endYear         0 non-null      object
 7   runtimeMinutes  97694 non-null  object
 8   genres          97694 non-null  object
dtypes: object(9)
memory usage: 7.5+ MB

In [26]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1474948 entries, 5 to 37653297
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1474948 non-null  object
 1   ordering         1474948 non-null  int64
 2   title            1474948 non-null  object
 3   region           1474948 non-null  object
 4   language         4193 non-null     object
 5   types            985111 non-null   object
 6   attributes       47682 non-null    object
 7   isOriginalTitle  1473607 non-null  object
dtypes: int64(1), object(7)
memory usage: 101.3+ MB

In [27]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1365868 entries, 0 to 1365867
Data columns (total 1 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   tconst	averageRating	numVotes  1365868 non-null  object
dtypes: object(1)
memory usage: 10.4+ MB

In [28]:
compression_opts = dict(method='zip', archive_name='basics.csv')

In [29]:
basics.to_csv("basics.csv", index = False, compression=compression_opts)

In [30]:
compression_opts_akas = dict(method='zip', archive_name='akas.csv')

In [31]:
akas.to_csv("akas.csv", index = False, compression=compression_opts_akas)

In [32]:
compression_opts_ratings = dict(method='zip', archive_name='ratings.csv')

In [33]:
ratings.to_csv("ratings.csv", index = False, compression=compression_opts_ratings)